In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({"Numbers":[2, 1, 5, 3, 4, 2, 2, 1, 5, 6, 3, 10, 7, 8, 9, 1, 4, 5, 3]})
df

    Numbers
0         2
1         1
2         5
3         3
4         4
5         2
6         2
7         1
8         5
9         6
10        3
11       10
12        7
13        8
14        9
15        1
16        4
17        5
18        3

In [4]:
df.mean()

Numbers    4.263158
dtype: float64

In [5]:
df.median()

Numbers    4.0
dtype: float64

In [6]:
df.std()

Numbers    2.725234
dtype: float64