In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("nyc_weather.csv")

In [3]:
df.sample(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327

#### 1) Maximum temperature day

In [4]:
df["Temperature"].max()

50

#### 2) Event of rain

In [5]:
df[df["Events"] == "Rain"]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311

#### 3) Mean of temperature

In [6]:
df["WindSpeedMPH"].mean()

6.892857142857143

In [7]:
df["WindSpeedMPH"].fillna(df["WindSpeedMPH"].mean(), inplace=True)

In [8]:
df["WindSpeedMPH"].mean()

6.892857142857142