In [1]:
import pandas as pd

In [2]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [3]:
dates = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

### Different ways of date time writing

In [7]:
pd.to_datetime("30-01-2017")

Timestamp('2017-01-30 00:00:00')

In [8]:
pd.to_datetime("5-01-2017", dayfirst=True)

Timestamp('2017-01-05 00:00:00')

### Custom date time

In [9]:
pd.to_datetime('2017$01$05', format='%Y$%m$%d')

Timestamp('2017-01-05 00:00:00')

In [11]:
pd.to_datetime("2017#10#01", format='%Y#%m#%d')

Timestamp('2017-10-01 00:00:00')

### Handling incorrect or errors values in dates

In [4]:
dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105', "abc"]
pd.to_datetime(dt, errors='ignore')

Index(['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016',
       '2017.01.05', '2017/01/05', '20170105', 'abc'],
      dtype='object')

In [5]:
dt = dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105', "abc"]
pd.to_datetime(dt, errors="coerce")

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

### Epoch

In [12]:
current_epoch = 1644940318
pd.to_datetime(current_epoch, unit='s')

Timestamp('2022-02-15 15:51:58')

In [13]:
pd.to_datetime(current_epoch*1000, unit='ms')

Timestamp('2022-02-15 15:51:58')

In [16]:
t = pd.to_datetime([current_epoch], unit='s')
t

DatetimeIndex(['2022-02-15 15:51:58'], dtype='datetime64[ns]', freq=None)

In [17]:
t.view('int64')

array([1644940318000000000], dtype=int64)