In [1]:
import numpy as np
import pandas as pd

### Year analysis

In [2]:
y = pd.Period('2016')

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
y.is_leap_year

True

### Month analysis

In [6]:
m = pd.Period("2016-01")

In [7]:
m.start_time

Timestamp('2016-01-01 00:00:00')

In [8]:
m.end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [9]:
m+1

Period('2016-02', 'M')

### Daily period

In [10]:
d = pd.Period("2017-01-10")

In [11]:
d.start_time

Timestamp('2017-01-10 00:00:00')

In [12]:
d.end_time

Timestamp('2017-01-10 23:59:59.999999999')

In [13]:
d+1

Period('2017-01-11', 'D')

### Hourly period

In [14]:
h = pd.Period('2017-08-15 23:00:00', freq='H')

In [15]:
h.start_time

Timestamp('2017-08-15 23:00:00')

In [16]:
h.end_time

Timestamp('2017-08-15 23:59:59.999999999')

In [17]:
h+1

Period('2017-08-16 00:00', 'H')

In [18]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

### Quarterly Period

In [19]:
q1 = pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [20]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [21]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [22]:
q1.asfreq('M', how='start')

Period('2016-02', 'M')

### Weekly Period

In [23]:
w = pd.Period('2017-07-05', freq='w')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [24]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [25]:
w.start_time

Timestamp('2017-07-03 00:00:00')

In [26]:
w.end_time

Timestamp('2017-07-09 23:59:59.999999999')

In [27]:
w2 = pd.Period('2017-08-15', freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [28]:
w2 - w

### PeriodIndex and period_range

In [29]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [30]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [31]:
r[len(r)-1].end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [32]:
r = pd.period_range('2011', '2017', freq="q-jan")
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [33]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [34]:
r[len(r)-1].end_time

Timestamp('2017-01-31 23:59:59.999999999')

In [35]:
# r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
# r

In [48]:
idx = pd.period_range('2011', '2017', freq="Q")
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

### For walmart quater start from feb

In [46]:
idx = pd.period_range('2011', '2017', freq="Q-Jan")
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [41]:
dates[0].start_time

Timestamp('2010-11-01 00:00:00')

In [42]:
dates[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [44]:
dates = pd.period_range(start="2011", periods=10, freq="Q-JAN")
dates

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [50]:
# ps = pd.Series(np.random.randn(len(idx), idx))
# ps

In [52]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [54]:
df.set_index("Line Item", inplace=True)

In [56]:
df = df.T

In [57]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [59]:
df["index"] = pd.PeriodIndex(df["index"], freq="Q-JAN")
df

KeyError: 'index'