In [1]:
def test():
    pass

In [2]:
type(test())

NoneType

In [3]:
type(print())

NoneType

In [4]:
def add(a, b):
    result = a + b
    print(result)

In [5]:
# it throws an error because the return type of add function is Non type soo we cannot add any thing to non type
# and also we cannot performt use of functions on that string 
# a = add(10, 20) + 1

In [6]:
type(add(10, 20))

30

NoneType

In [7]:
x = 10
y = 20
add(x, y)

30

In [8]:
# but when we specify the return type as return then it will return the actual value not a nane type data

In [9]:
def add(a, b):
    result = a + b
    return result

In [10]:
a = 10
b = 20
c = add(a, b) + 10
print(type(c))
print("The value of c becomes {} after adding 10 into it".format(c))

<class 'int'>
The value of c becomes 40 after adding 10 into it

In [11]:
def addmul(a, b):
    return a+b, a*b

In [12]:
addmul(5, 4)

(9, 20)

In [13]:
a, b = addmul(3, 4)

In [14]:
print(a)
print(b)

7
12

In [15]:
a, b, c, d = 10, 20, "Name", "Code"

In [16]:
print(a)
print(c)

10
Name

In [17]:
def test():
    return [10, 20, 30, 40], "Shubham", (1, 2, 3, 4, 5), {"key": "Value"}

#### it will return tuple

In [18]:
test()

([10, 20, 30, 40], 'Shubham', (1, 2, 3, 4, 5), {'key': 'Value'})

In [19]:
_, _, a, _ = test()

In [20]:
a

(1, 2, 3, 4, 5)

#### Prime Number

In [18]:
def primeNumber(a):
    isPrime = True
    for i in range(2, a):
        if a % i == 0:
            isPrime = False
            break;
        else:
            isPrime = True
    return isPrime

In [25]:
a = primeNumber(17)
print(a)

True